Source: blogtk
Section: web
Priority: optional
Maintainer: Jay Reding <jay@jayreding.com>
Build-Depends: cdbs (>= 0.4.49), debhelper (>= 7), python, pkg-config (>= 0.15.0-4)
Build-Depends-Indep: python-central (>=0.5)
Standards-Version: 3.8.0
XS-Python-Version: all
Homepage: http://blogtk.jayreding.com/

Package: blogtk
Architecture: all
Depends: ${python:Depends}, python-gtk2 (>= 2.14), python-gnome2 (>= 2.26), python-glade2 (>= 2.14), python-webkit (>= 1.0.2), python-gnome2-extras(>= 2.19.1), python-feedparser (>= 4.1), python-gdata (>= 1.2.4)
Conflicts: blogtk (<= 1.2)
Description: A desktop blog editor
 BloGTK is a desktop blog editor that allows
 users to post, edit, and manage blog entries
 on multiple weblogs from one convienent
 interface.
